<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <!-- <ion-back-button text="" defaultHref=""></ion-back-button> -->
                            <ion-img class="back-btn" src="../../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>

                    </ion-col>
                    <ion-col size="10" style="text-align: center;">
                        <ion-label class="logo-title">{{pageTitle}}</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-grid>
            <ion-row no-padding>
                <ion-col no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> Name </ion-label> -->
                        <ion-input placeholder="Name" minlength="3" maxlength="50" type="text" formControlName="ProName"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding style="text-align: center">
                    <ion-item no-padding class="form-control" (click)="selectCategory()">
                        <ion-label> {{selectedCat}} </ion-label>
                        <ion-img style="height: 15px;" src="../../../../assets/images/DropDown.png"></ion-img>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="img-sec">
                <ion-col size="3"  (click)="selectImage()">
                    <div style="border: 0.5px solid #d2d2d2;padding: 5px;  border-radius: 5px; text-align: center;">
                        <ion-img style="height: 30px;" src="../../../../assets/images/plus.png"> </ion-img>
                        <ion-label class="add-box-lbl"> Upload Image</ion-label>
                    </div>
                </ion-col>
                <ion-col *ngFor="let item of image; let i= index" size="3">
                    <div style="height: 60px; position: relative; width: 100%;">
                        <ion-img style="height: 60px; position: absolute;" src="{{item.Image}}"> </ion-img>
                        <ion-img class="del" (click)="removeImage(i,item)" src="../../../../assets/images/Delete.png"></ion-img>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button expand="full" class="btn-submit" type="submit">
                        {{btnTitle}}
                    </ion-button>
                </ion-col>
            </ion-row>


        </ion-grid>
    </form>
</ion-content>