    ion-icon {
        font-size: 40px;
        color: #010B17;
    }
    
    ion-label {
        color: #010B17;
    }
    
    .icons-btn {
        width: 40px;
        height: 40px;
        background-color: #032b71;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
    }
    
    .icon {
        font-size: 27px;
        position: relative;
        top: 6px;
    }
    
    .add-box-lbl {
        font-size: 12px;
        line-height: 12px;
        display: block;
        padding: 5px;
    }
    
    .logo-title {
        color: white !important;
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
     }
    
    .del {
        position: absolute;
        right: 5px;
        top: 5px;
        height: auto;
        width: 20px;
        z-index: 1111;
    }