<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <!-- <ion-back-button text="" defaultHref=""></ion-back-button> -->
                            <ion-img class="back-btn" src="../../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>

                    </ion-col>
                    <ion-col size="10" style="text-align: center;">
                        <ion-label class="logo-title">Add Customer</ion-label>
                    </ion-col>
                    <ion-col size="1">

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-grid>

            <ion-row no-padding>
                <ion-col no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> First Name</ion-label> -->
                        <ion-input type="text" placeholder="First Name" minlength="3" maxlength="50" formControlName="fname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> Last Name </ion-label> -->
                        <ion-input type="text" placeholder="Last Name" minlength="1" maxlength="50" formControlName="lname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <!-- <ion-row no-padding>
                <ion-col no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Email Id</ion-label>
                        <ion-input type="Email" formControlName="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> -->

            <ion-row no-padding>
                <ion-col no-padding>
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> Mobile Number</ion-label> -->
                        +91&nbsp;
                        <ion-input numbersOnly type="tel" minlength="10" maxlength="10" placeholder="Mobile Number" formControlName="mobilenumber"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <!-- <ion-row no-padding *ngIf="this.isShow">
                <ion-col no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-datetime style="--padding-start: 0px; --placeholder-color: white;" placeholder="Delivary Date" display-format="DD MMM YYYY" picker-format="DD MMM YYYY" formControlName="delivary" [(ngModel)]="myDate"></ion-datetime>
                        <ion-icon item-end name="calendar" class="calIcon"></ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row> -->

            <!-- <ion-row no-padding>
                <ion-col no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Brand Name</ion-label>
                        <ion-input type="text" maxlength="50" formControlName="brandname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> -->
            <ion-row no-padding *ngIf="this.isShow">
                <ion-col no-padding>
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> Address </ion-label> -->
                        <ion-input placeholder="Address" type="text" minlength="1" formControlName="address"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            
            <ion-row no-padding *ngIf="this.isShow">
                <ion-col no-padding>
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> Zip Code </ion-label> -->
                        <ion-input placeholder="Pin Code" numbersOnly type="tel" minlength="5" maxlength="6" formControlName="zipcode"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row no-padding *ngIf="this.isShow">
                <ion-col no-padding>
                    <ion-item no-padding class="form-control">

                        <ion-label>Select State</ion-label>
                        <ion-select okText="Okay" value="this.selCust != undefined?this.selCust.stateId:''" [placeholder]="selStateNm ? selStateNm : 'Tap to select state'" [(ngModel)]="selState" formControlName="state" cancelText="Dismiss" (ionChange)="onChangeState($event.target.value)"
                            (click)="loadLists()">
                            <ion-select-option *ngFor="let item of stateList" value="{{item.StateID}}">{{item.SName}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row no-padding *ngIf="this.isShow">
                <ion-col no-padding>
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> City </ion-label> -->
                        <!-- <ion-input type="text" minlength="2" maxlength="50" placeholder="City" formControlName="city"></ion-input> -->
                        <ion-label>Select District</ion-label>
                        <ion-select okText="Okay" value="this.selCust != undefined?this.selCust.cityid:''" [placeholder]="selCityNm ? selCityNm : 'Tap to select district'" [(ngModel)]="selCity" formControlName="city" cancelText="Dismiss">
                            <!-- <ion-select okText="Okay" formControlName="city" cancelText="Dismiss"> -->
                            <ion-select-option *ngFor="let item of cities" value="{{item.id}}">{{item.city}}</ion-select-option>
                        </ion-select>

                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding *ngIf="this.isShow">
                <ion-col no-padding>
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> Address </ion-label> -->
                        <ion-input placeholder="City" type="text" minlength="1" formControlName="District"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="this.isShow">
                <ion-col>
                    <!-- <ion-button expand="full" class="btn-submit" type="submit" [disabled]="!form?.valid"> -->
                    <ion-button expand="full" class="btn-submit" type="submit">
                        Next
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!this.isShow">
                <ion-col>
                    <!-- <ion-button expand="full" class="btn-submit" type="submit" [disabled]="!form?.valid"> -->
                    <ion-button expand="full" class="btn-submit" type="submit">
                        Add
                    </ion-button>
                </ion-col>
            </ion-row>



        </ion-grid>
    </form>
</ion-content>