:host {
    .back_arrow {
        width: 40px;
        height: 40px;
    }
    ion-row {
        justify-content: center;
    }
    ion-col {
        text-align: center;
    }
    ion-icon {
        font-size: 40px;
        color: #010B17;
    }
    ion-label {
        color: #010B17;
    }
    .logo-title {
        color: white !important;
    }
    .form-control {
        --placeholder-color: white;
    }
}