<ion-content no-padding>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-grid>

            <ion-row no-padding>
                <ion-col style="text-align: left">
                    <ion-label> Body Measurement</ion-label>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Shoulder</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" maxlength="10" formControlName="Shoulder"></ion-input>
                        <!-- <ion-input numbersOnly type="tel" inputmode="tel" maxlength="10"  formControlName="Shoulder" required></ion-input> -->
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Front Neck</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="FrontNeck"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Back</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="Back"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Yoke</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="Yoke"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Hips</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="Hips"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Chest</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="Chest"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Upper Bust</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="UpperBust"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Mid Bust</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="MidBust"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row no-padding>
                <ion-col style="text-align: left">
                    <ion-label> Sleeves</ion-label>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Sleeves Length </ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="SleevesLength"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">

                        <ion-label position="floating">Sleeves Type</ion-label>
                        <ion-select okText="Okay" [disabled]="this.apiServices.getFrom() == '2'" formControlName="SleevesLengthType" cancelText="Dismiss">
                            <ion-select-option value="">Select Type</ion-select-option>
                            <ion-select-option value="elbow">Elbow</ion-select-option>
                            <ion-select-option value="short">Short</ion-select-option>
                            <ion-select-option value="third">3/4th</ion-select-option>
                            <ion-select-option value="full">Full</ion-select-option>
                            <ion-select-option value="balloon">Balloon</ion-select-option>
                            <ion-select-option value="other">Other</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col style="text-align: left">
                    <ion-label> Waist</ion-label>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Waist Size</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="WaistSize"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">

                        <ion-label position="floating">Waist Type</ion-label>
                        <ion-select okText="Okay" [disabled]="this.apiServices.getFrom() == '2'" formControlName="WaistType" cancelText="Dismiss">
                            <ion-select-option value="">Select Type</ion-select-option>
                            <ion-select-option value="mid">Mid</ion-select-option>
                            <ion-select-option value="low">Low</ion-select-option>
                            <ion-select-option value="high">High</ion-select-option>
                            <ion-select-option value="other">Other</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col style="text-align: left">
                    <ion-label> Other</ion-label>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Dress Length</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="DressLength"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">

                        <ion-label position="floating">Dress Type</ion-label>
                        <ion-select okText="Okay" [disabled]="this.apiServices.getFrom() == '2'" formControlName="DressLengthType" cancelText="Dismiss">
                            <ion-select-option value="">Select Type</ion-select-option>
                            <ion-select-option value="ankle">Ankle</ion-select-option>
                            <ion-select-option value="short">Short</ion-select-option>
                            <ion-select-option value="midi">Midi</ion-select-option>
                            <ion-select-option value="full">Full</ion-select-option>
                            <ion-select-option value="other">Other</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Top Length</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="TopLength"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">

                        <ion-label position="floating">Top Type</ion-label>
                        <ion-select okText="Okay" [disabled]="this.apiServices.getFrom() == '2'" formControlName="TopLengthType" cancelText="Dismiss">
                            <ion-select-option value="">Select Type</ion-select-option>
                            <ion-select-option value="Peplum">Peplum</ion-select-option>
                            <ion-select-option value="straight">Straight</ion-select-option>
                            <ion-select-option value="Crop">Crop</ion-select-option>
                            <ion-select-option value="blouse">Blouse</ion-select-option>
                            <ion-select-option value="cape">Cape</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Bottom Length</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="BottomLength"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">

                        <ion-label position="floating">Bottom Type</ion-label>
                        <ion-select okText="Okay" [disabled]="this.apiServices.getFrom() == '2'" formControlName="BottomLengthType" cancelText="Dismiss">
                            <ion-select-option value="">Select Type</ion-select-option>
                            <ion-select-option value="palazzo">Palazzo</ion-select-option>
                            <ion-select-option value="skirt">Skirt</ion-select-option>
                            <ion-select-option value="ghaghra">Ghaghra</ion-select-option>
                            <ion-select-option value="cigar">Cigar Pants</ion-select-option>
                            <ion-select-option value="other">Other</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Gher</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="Gher"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">

                        <ion-label position="floating"> Gher Type</ion-label>
                        <ion-select okText="Okay" [disabled]="this.apiServices.getFrom() == '2'" formControlName="GherLengthType" cancelText="Dismiss">
                            <ion-select-option value="">Select Type</ion-select-option>
                            <ion-select-option value="umbrella">Umbrella</ion-select-option>
                            <ion-select-option value="pleated">Pleated</ion-select-option>
                            <ion-select-option value="simple">Simple</ion-select-option>
                            <ion-select-option value="with-can">With can</ion-select-option>
                            <ion-select-option value="without-can">Without can</ion-select-option>
                            <ion-select-option value="other">Other</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Dupatta Length</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="DuppattaType"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">

                        <ion-label position="floating">Dupatta Type</ion-label>
                        <!--  -->
                        <ion-select okText="Okay" [disabled]="this.apiServices.getFrom() == '2'" formControlName="DuppattaLengthType" cancelText="Dismiss">
                            <ion-select-option value="">Select Type</ion-select-option>
                            <ion-select-option value="simple">Simple</ion-select-option>
                            <ion-select-option value="ruffle">Ruffle</ion-select-option>
                            <ion-select-option value="other">Other</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Tucks Point</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="TuchsPoin"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Crotch</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="Crotch"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Armhole</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="Armhole"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Knee</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="Knee"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Pant</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="Pants"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Waist Hip</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="WaistHip"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row no-padding style="justify-content: start;">
                <ion-col size="6" no-padding>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating"> Thighs</ion-label>
                        <ion-input type="number" [disabled]="this.apiServices.getFrom() == '2'" formControlName="Thighs"></ion-input>
                    </ion-item>
                </ion-col>

            </ion-row>


            <ion-row *ngIf=" this.apiServices.getFrom() != '2'">
                <ion-col>
                    <!-- <ion-button expand="full" class="btn-submit" type="submit" [disabled]="!form?.valid"> -->
                    <ion-button expand="full" class="btn-submit" type="submit">
                        Update
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>
</ion-content>