<ion-menu side="start" menuId="first">
    <ion-header>
        <ion-grid class="menu-user-dtl" (click)="openProfile()">
            <ion-row style="align-items: center;">
                <ion-col size="4">
                    <ion-img class="profile-img" src="../../assets/images/Profile.png" ></ion-img>
                    <!-- <ion-img class="profile-img" src="../../assets/images/Profile.png" *ngIf="userImage == ''"></ion-img> -->
                    <!-- <ion-img class="profile-img" *ngIf="userImage != ''" src="{{userImage}}"></ion-img> -->
                </ion-col>
                <ion-col size="8">
                    <ion-row style="padding: 0px;">
                        <ion-col style="padding: 0px;">
                            <ion-label class="user-name">{{username}}</ion-label>
                        </ion-col>

                    </ion-row>
                    <ion-row style="padding: 0px;">
                        <ion-col style="padding: 0px;">
                            <ion-label class="user-no"> +91&nbsp;{{mobileno}}</ion-label>

                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-header>
    <ion-content no-padding>
        <ion-list no-padding>
            <ion-item class="list-item" (click)="Order()">
                <ion-img class="menu-img" src="../../assets/images/Order.png"></ion-img>
                <ion-label class="lbl-style-m">Orders</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="WishList()">
                <ion-img class="menu-img" src="../../assets/images/Wishlist.png"></ion-img>
                <ion-label class="lbl-style-m">WishList</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="Category()">
                <ion-img class="menu-img" src="../../assets/images/category.png"></ion-img>
                <ion-label class="lbl-style-m">Category</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="Product()">
                <ion-img class="menu-img" src="../../assets/images/Product.png"></ion-img>
                <ion-label class="lbl-style-m">Products</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="Customer()">
                <ion-img class="menu-img" src="../../assets/images/Customer.png"></ion-img>
                <ion-label class="lbl-style-m">Customers</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="AddOrder()">
                <ion-img class="menu-img" src="../../assets/images/Add_order.png"></ion-img>
                <ion-label class="lbl-style-m">Add Order</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="AddProduct()">
                <ion-img class="menu-img" src="../../assets/images/Upload_Category.png"></ion-img>
                <ion-label class="lbl-style-m">Add Product</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="AddCustomer()">
                <ion-img class="menu-img" src="../../assets/images/Add_customer.png"></ion-img>
                <ion-label class="lbl-style-m">Add Customer</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="ChangePassword()">
                <ion-img class="menu-img" src="../../assets/images/change_Password.png"></ion-img>
                <ion-label class="lbl-style-m">Change Password</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="logout()">
                <ion-img class="menu-img" src="../../assets/images/Logout.png"></ion-img>
                <ion-label class="lbl-style-m">Logout</ion-label>
            </ion-item>

        </ion-list>
    </ion-content>
    <ion-footer class="list-ion-footer" no-padding>
        <ion-item class="list-footer text-center">
            <ion-label class="lbl-style">
                V 1.0
            </ion-label>
        </ion-item>
    </ion-footer>
</ion-menu>

<ion-router-outlet main>

    <ion-header>
        <ion-toolbar>
            <ion-title>
                <ion-grid no-padding class="header padding-0">
                    <ion-row style="align-items: center;">
                        <ion-col size="1">
                            <ion-buttons (click)="openFirst()" no-padding>
                                <ion-img class="img" src="../../assets/images/menu.png"></ion-img>
                            </ion-buttons>

                        </ion-col>
                        <ion-col size="10" style="text-align: center;">
                            <ion-label class="logo-title">Dashboard</ion-label>
                        </ion-col>
                        <ion-col size="1">
                            <ion-buttons (click)="openNotification()" no-padding>
                                <ion-img class="img" src="../../assets/images/Notification.png"></ion-img>
                                <ion-label *ngIf="notItems.length != 0" class="not-lbl">{{notItems.length}}</ion-label>
                            </ion-buttons>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="dash-main">
        <ion-grid style="padding-top: 0px;">
            <ion-row>
                <ion-col style="padding-bottom: 0px; padding-top: 0px;">
                    <ion-label class="header">Category</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="padding: 0px;">
                    <ion-grid style="padding-top: 0px;">
                        <ion-row class="list_block" *ngIf="catItems.length != 0">
                            <ion-col *ngFor="let item of catItems" size="4.6" (click)="categoryClick(item)">
                                <div class="cat-box">
                                    <img class="view-img" *ngIf="item.Image != undefined" src="{{item.Image}}" />
                                    <img class="view-img" *ngIf="item.Image == undefined" src="../../assets/images/error_img.png" />
                                    <ion-label class="cat-title"> {{item.Name}}</ion-label>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row class="empty-cels" *ngIf="catItems.length == 0">
                            <ion-col>
                                <ion-label class="empty-title"> Category Not Found</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="padding-bottom: 0px;  padding-top: 0px;">
                    <ion-label class="header">New Arrival Product</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="padding: 0px;">
                    <ion-grid style="padding-top: 0px;">
                        <ion-row class="list_block" *ngIf="NewProcut.length != 0">
                            <ion-col *ngFor="let item of NewProcut" size="4" (click)="viewProduct(item)">
                                <div class="cat-box">
                                    <img class="view-img" *ngIf="item.Image.length!=0" src="{{item.Image[0].Image}}" />
                                    <img class="view-img" *ngIf="item.Image.length==0" src="../../assets/images/error_img.png" />
                                    <ion-label class="cat-title"> {{item.ProName}}</ion-label>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row class="empty-cels" *ngIf="NewProcut.length == 0">
                            <ion-col>
                                <ion-label class="empty-title"> Product Not Found</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>

            </ion-row>
            <ion-row *ngIf="isHide">
                <ion-col style="padding-bottom: 0px; padding-top: 0px;">
                    <ion-label class="header">My Favorite</ion-label>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="isHide">
                <ion-col style="padding: 0px;">
                    <ion-grid style="padding-top: 0px;">
                        <ion-row class="list_block" *ngIf="prodItems.length != 0">
                            <ion-col *ngFor="let item of prodItems" size="4">
                                <div class="fav-box">
                                    <img class="view-img" *ngIf="item.Image.length!=0" (click)="viewProduct(item)" src="{{item.Image[0].Image}}" />
                                    <img class="view-img" *ngIf="item.Image.length==0" (click)="viewProduct(item)" src="../../../assets/images/error_img.png" />
                                    <ion-img class="fav" (click)="fav(item,'0')" src="../../assets/images/fav.png"></ion-img>
                                    <ion-label class="cat-title" (click)="viewProduct(item)"> {{item.ProName}}</ion-label>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row class="empty-cels" *ngIf="prodItems.length == 0">
                            <ion-col>
                                <ion-label class="empty-title"> There is no favorite product.</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="padding-bottom: 0px;  padding-top: 0px;">
                    <ion-label class="header">My WishList</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="padding: 0px;">
                    <ion-grid style="padding-top: 0px;">
                        <ion-row class="list_blocks" *ngIf="wishlist.length != 0">
                            <ion-col *ngFor="let item of wishlist" size="4">
                                <div class="fav-box">
                                    <img class="view-img" *ngIf="item.Image.length!=0" (click)="viewProduct(item)" src="{{item.Image[0].Image}}" />
                                    <img class="view-img" *ngIf="item.Image.length==0" (click)="viewProduct(item)" src="../../../assets/images/error_img.png" />
                                    <ion-img class="fav" (click)="wish(item,'0')" src="../../assets/images/Like.png"></ion-img>
                                    <ion-label class="cat-title" (click)="viewProduct(item)"> {{item.ProName}}</ion-label>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row class="empty-cels" *ngIf="wishlist.length == 0">
                            <ion-col>
                                <ion-label class="empty-title"> Wishlist is empty.</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>

</ion-router-outlet>