#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

ion-toolbar {
    box-shadow: 0 0 0 0;
    --background: white !important;
    border: none;
    color: #fff !important;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

.dash-main {
    --background: white !important;
    height: calc(100vh - 50px) !important;
}

.header {
    font-size: 16px;
    font-weight: bold;
    color: #656464 !important;
}

ion-img {
    width: 100%;
    height: auto;
}

.menu-img {
    width: 20px;
    height: auto;
}

.img-icon {
    width: 18px;
    height: auto;
}

.list-ion-footer {
    --background: #A01915;
    --ion-color-light: #A01915;
    --ion-color-light-shade: #A01915;
    --ion-item-background: var(--ion-color-light);
    --ion-item-background-activated: var(--ion-color-light-shade);
}

.lbl-style {
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 15px !important;
}

.lbl-style-m {
    padding: 5px;
    margin: 5px;
    color: #010B17;
    font-size: 15px !important;
}

.menu-lbl {
    line-height: 4;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

ion-buttons {
    display: block !important;
}

.img-center {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.header-block {
    padding-top: 3px !important;
}

.list-item {
    --background: transparent !important;
}

ion-list-header {
    --background: transprent;
}

.form-control {
    height: 45px;
}

.ion-list {
    --background: transparent !important;
    background: transparent !important;
}

.list-md {
    background: transparent !important;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50px !important;
    overflow: hidden;
    background: white;
    margin: 0px auto !important;
}

.user-name {
    font-size: 15px !important;
    font-weight: bold !important;
    color: white !important;
}

.user-no {
    font-size: 14px !important;
    font-weight: normal !important;
    color: white !important;
}

.menu-user-dtl {
    padding: 20px 0px !important;
    border-bottom: 1px solid #fff !important;
}

ion-header {
    --background: #d77073 !important;
    background: #d77073 !important;
}

ion-col {
    position: relative;
}

ion-row.list_block {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100px !important;
    overflow-y: auto;
    margin-left: -5px !important;
    margin-right: -5px !important;
}

ion-row.list_block ion-col {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

ion-row.list_blocks {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

ion-row.list_blocks ion-col {
    padding-left: 5px !important;
    padding-right: 5px !important;
    // border: 1px solid #22242826;
}

.cat-box::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.cat-box-n {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0px 0px 1px #eee;
    min-height: 130px;
    border-radius: 8px;
    overflow: hidden;
    background: #d77073;
}

.cat-box-n.add-cat ion-img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 25px auto;
}

.list_block .cat-box-n.add-cat .cat-title {
    bottom: 5px !important;
    padding: 0px 0px !important;
}

.fav {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    z-index: 1111;
}

.fav-box::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.empty-cels {
    min-height: 130px !important;
}

.empty-title {
    color: #656464 !important;
}

.not-lbl {
    background: #d77073;
    position: absolute;
    top: -5px;
    border-radius: 50%;
    font-size: 12px;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
}