<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <!-- <ion-back-button text="" defaultHref=""></ion-back-button> -->
                            <ion-img class="back-btn" src="../../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>

                    </ion-col>
                    <ion-col size="8" style="text-align: center; overflow: hidden;">
                        <ion-label class="logo-title">{{this.prodItems.ProName}}</ion-label>
                    </ion-col>
                    <ion-col size="1">
                        <ion-buttons no-padding *ngIf="prodItems.isFav  == null || prodItems.isFav == 0" (click)="fav(prodItems,'1')">
                            <ion-img class="img" src="../../../../assets/images/Unlike.png"></ion-img>
                        </ion-buttons>
                        <ion-buttons no-padding *ngIf="prodItems.isFav !=null && prodItems.isFav == 1" (click)="fav(prodItems,'0')">
                            <ion-img class="img" src="../../../../assets/images/Like-w.png"></ion-img>
                        </ion-buttons>
                    </ion-col>
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="delete(prodItems)">
                            <ion-img class="img" src="../../../../assets/images/Delete-w.png"></ion-img>
                        </ion-buttons>
                    </ion-col>
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="edit()">
                            <ion-img class="img" src="../../../../assets/images/edit.png"></ion-img>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding class="main-wrapper">

    <ion-grid no-padding class="content-box">
        <ion-row no-padding>
            <ion-col no-padding *ngIf="prodItems.Image.length  != 0">

                <ion-img *ngIf="prodItems.Image.length > 1 " src="../../../../assets/images/right.png" float-left ion-button color="primary" class="btnPrev" (click)="prev()"></ion-img>
                <ion-img *ngIf="prodItems.Image.length > 1" src="../../../../assets/images/left.png" float-right ion-button color="primary" class="btnNext" (click)="next()"></ion-img>
                <ion-slides :pager="prodItems.Image.length > 1 ? true : false" :key="prodItems.Image.length" class="slider_box" [options]="slideOptions" #slider (ionSlideDidChange)="ionSlideDidChange()" (ionSlidesDidLoad)="slidesDidLoad(slider)">
                    <ion-slide *ngFor="let imgs of prodItems.Image"  >
                        <img [src]="imgs.Image" (click)="showImage(imgs.Image)" >
                    </ion-slide>
                </ion-slides>
            </ion-col>

            <ion-col no-padding *ngIf="prodItems.Image.length  == 0" style="text-align: center !important;">
                <img src="../../../../assets/images/error_img.png" style="height: 100px;">
            </ion-col>
        </ion-row>
        <ion-grid class="prod-box">
            <ion-row class="bottom-border" no-padding>
                <ion-col no-padding>
                    <ion-label class="prod-title"> Name</ion-label>
                </ion-col>
                <ion-col size="1" no-padding>
                    <ion-label class="prod-sub-title">:</ion-label>
                </ion-col>

                <ion-col no-padding>
                    <ion-label class="prod-sub-title"> {{prodItems.ProName}}</ion-label>
                </ion-col>
            </ion-row>
           
            <ion-row  no-padding>
                <ion-col no-padding>
                    <ion-label class="prod-title" > Category</ion-label>
                </ion-col>
                <ion-col size="1" no-padding>
                    <ion-label class="prod-sub-title">:</ion-label>
                </ion-col>
                <ion-col no-padding>
                    <ion-label class="prod-sub-title">{{prodItems.CategoryName}}</ion-label>
                </ion-col>
            </ion-row>
          
        </ion-grid>
    </ion-grid>
</ion-content>

<!-- <div *ngIf="showMoreImg" class="pop-block">
    <ion-label class="popup-box-close" (click)="showImages()"> &times; </ion-label>
    <div class="popup-box">
        <img [src]="selImage" >
        <ion-slides :pager="prodItems.Image.length > 1 ? true : false" :key="prodItems.Image.length" class="slider_box" [options]="slideOptions" #slider (ionSlideDidChange)="ionSlideDidChange()" (ionSlidesDidLoad)="slidesDidLoad(slider)">
        <ion-slides [options]="slideOptionsImg" >
            <ion-slide>
                <img [src]="selImage" >
            </ion-slide>
        </ion-slides>
    </div>
</div> -->