.swiper-scrollbar {
    opacity: 0 !important;
}

.swiper-slide img {
    height: 30vh !important;
}

.slider_box {
    position: relative;
    width: 80%;
    margin-top: 2px;
}

.btnPrev {
    position: absolute;
    top: 45%;
    transform: translate(0px, -50%);
    left: 0px;
    width: 25px !important;
    z-index: 111111;
}

.btnNext {
    position: absolute;
    right: 0px;
    top: 45%;
    transform: translate(0px, -50%);
    width: 25px !important;
    z-index: 111111;
}

.prod-box {
    margin-top: 10px;
    border: 1px solid #EEE;
}

.bottom-border {
    border-bottom: 1px solid #eee;
}

.prod-title {
    color: #fff !important;
    font-size: 17px;
    display: block;
    // text-align: center;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.prod-sub-title {
    color: #fff !important;
    font-size: 16px;
    display: block;
    //  text-align: center;
    // margin: 10px 0px;
}

// .swiper-pagination-bullet {
//     background: white!important;
//     border-radius: 100%;
//     height: 17px;
//     width: 17px;
//     display: none;
// }

// .slides-md {
//     --bullet-background: var(#fff) !important;
//     --bullet-background-active: var(--ion-color-primary) !important;
// }

// .slider-pager-page {
//     color: white !important;
// }

// .slider-pager-page.active {
//     color: var(--ion-color-primary) !important;
// }

ion-row.list_blocks ion-col {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.logo-title {
    color: white !important;
    display: block !important;
    vertical-align: top;
    font-weight: bold;
     overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.swiper-pagination-bullet {
    background: white;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
  }
  
ion-slides {
    --bullet-background: #e2e2e2;
    --bullet-background-active: #d77073;
}

.fav {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    z-index: 11111;
}

.del {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    z-index: 11111;
}

.pop-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7) !important;
    z-index: 1111;
}
.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.popup-box-close {
    color: #FFFFFF;
    font-size: 50px !important;
    width: 30px;
    float: right;
    margin: 100px 20px;
}