:host {
    ion-content {
        --background: #f3f2f2f2;
    }
    .back_arrow {
        width: 40px;
        height: 40px;
    }
    .img {
        width: 100px;
        height: 100px;
    }
    // ion-row {
    //     justify-content: center;
    // }
    // ion-col {
    //     text-align: center;
    // }
    ion-icon {
        font-size: 40px;
        color: #010B17;
    }
    ion-label {
        color: #010B17;
    }
    .calIcon {
        font-size: 2rem !important;
        position: absolute;
        margin: 0px auto !important;
        right: 5px;
        color: white
        /* top: 10px;*/
    }
    .icons-btn {
        width: 40px;
        height: 40px;
        background-color: #032b71;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
    }
    .icon {
        font-size: 27px;
        position: relative;
        top: 6px;
    }
    .select-prod {
        background: white;
        border-radius: 10px;
        color: #656464 !important;
    }
    .logo-title {
        color: white !important;
    }
    .form-control {
        --ion-background-color: white !important;
        border: 1px solid #fff !important;
        color: #656464 !important;
        font-size: 14px !important;
        border-radius: 10px;
        --inner-border-width: 0 0 0 0 !important;
    }
    ion-row.list_blocks ion-col {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .btn-submit {
        --background: #d77073 !important;
    }
    .del {
        position: absolute;
        right: 5px;
        top: 5px;
        height: auto;
        width: 20px;
        z-index: 1111;
    }
}