// ion-row,
// ion-col {
//     padding: 0px !important;
// }
ion-row {
    border-bottom: 1px solid #d2d2d2;
}

ion-content {
    --background: #f3f2f2 !important;
}

ion-label {
    color: #686868 !important;
}

.noti-item {
    background: white !important;
    border-radius: 10px !important;
}

.title {
    font-size: 16px !important;
    font-weight: bold;
}

.dlt-icon {
    width: auto;
    height: 20px;
}

.time {
    text-align: right;
    font-size: 13px !important;
    font-weight: normal;
}

.cotent {
    font-size: 13px !important;
    font-weight: normal;
    line-height: 15px !important;
}

.logo-title {
    color: white !important;
}

.btn-submit {
    background: #d77073 !important;
    --background: transparent !important;
    width: 80% !important;
}