<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center; border-bottom: 0px solid !important">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <!-- <ion-back-button text="" defaultHref=""></ion-back-button> -->
                            <ion-img class="back-btn" src="../../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>
                    </ion-col>
                    <ion-col size="10" style="text-align: center;">
                        <ion-label class="logo-title">{{name}}</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding>
    <ion-grid class="noti-item" style="margin: 10px;">
        <ion-row style="border-bottom: 0px solid !important">
            <ion-col size="11">
                <ion-label class="title">{{items.FName}} {{items.LName}} </ion-label>
            </ion-col>
            <ion-col size="1" style="text-align: right;">
                <ion-img class="dlt-icon" src='../../../assets/images/Delete.png'></ion-img>
            </ion-col>
        </ion-row>
        <ion-row style="border-bottom: 0px solid !important">
            <ion-col size="8" style="padding-top: 0px;">
                <ion-label class="cotent">{{items.ContectNo}}</ion-label>
            </ion-col>

            <ion-col size="4" style="padding-top: 0px; text-align: right;">
                <ion-label class="cotent">{{items.statename}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="mt-5" style="border-bottom: 0px solid !important">
            <ion-col size="2.5">
                <ion-label class="cotent">Address</ion-label>
            </ion-col>
            <ion-col size="0.5"> : </ion-col>
            <ion-col size="9">
                <ion-label class="cotent">{{items.Address}} </ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="mt-5" style="border-bottom: 0px solid !important">
            <ion-col size="2.5">
                <ion-label class="cotent">District</ion-label>
            </ion-col>
            <ion-col size="0.5"> : </ion-col>
            <ion-col size="9">
                <ion-label class="cotent">{{items.city}} </ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="mt-5" style="border-bottom: 0px solid !important">
            <ion-col size="2.5">
                <ion-label class="cotent">City</ion-label>
            </ion-col>
            <ion-col size="0.5"> : </ion-col>
            <ion-col size="9">
                <ion-label class="cotent">{{items.District}} </ion-label>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="items.ZipCode != undefined" style="border-bottom: 0px solid !important">
            <ion-col size="2.5">
                <ion-label class="cotent">Pin Code</ion-label>
            </ion-col>
            <ion-col size="0.5"> : </ion-col>
            <ion-col size="9">
                <ion-label class="cotent">{{items.ZipCode}} </ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="mt-5" style="border-bottom: 0px solid !important">
            <ion-col>
                <ion-button class="btn-submit" (click)="addOrder()">
                    Add Order
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>