    ion-content {
        margin: 0px !important;
        padding: 0px !important;
    }
    
    .cotent-back {
        background-image: url(../../../assets/images/Register_bg.png) !important;
        background-position: top center;
    }
    
    .back_arrow {
        width: 40px;
        height: 40px;
    }
    
    .img {
        width: 100px;
        height: 100px;
    }
    
    ion-row {
        justify-content: center;
    }
    
    ion-col {
        text-align: center;
    }
    
    ion-icon {
        font-size: 40px;
        color: #010B17;
    }
    
    ion-label {
        color: #010B17;
    }
    
    .btn-submit {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    
    .upload-sec {
        height: 50px;
        padding-top: 6px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 15px;
        --ion-background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
    }
    
    ion-checkbox {
        --border-color-checked: #fff !important;
        --border-color: #fff !important;
    }
    span{
        text-decoration: underline;
    }