<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>New Signup</ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-content no-padding>
    <div class="cotent-back">
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-grid>
                <ion-row class="mt-45 mb-20">
                    <ion-col>
                        <ion-label style="font-size: 25px!important;font-weight: bold;">Register</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="isShow" class="upload-sec" (click)="selectImage()">
                    <ion-col no-padding style="text-align: start !important" size="10">
                        <ion-label>Select Image</ion-label>
                    </ion-col>
                    <ion-col no-padding style="text-align: start !important" size="2">
                        <ion-img *ngIf="image ==undefined" src="../../../assets/images/upload.png" style="height: 25px;"></ion-img>
                        <ion-img *ngIf="image !=undefined" src="{{image}}" style="height: 25px;"></ion-img>
                        <!-- <ion-item class="form-control"> -->
                        <!-- <ion-icon item-end [name]="passwordIcon" class="passwordIcon" > </ion-icon> -->
                        <!-- </ion-item> -->
                    </ion-col>
                </ion-row>

                <ion-row no-padding>
                    <ion-col no-padding style="text-align: center">
                        <ion-item class="form-control">
                            <!-- <ion-label position="fixed"> First Name</ion-label> -->
                            <ion-input type="text" placeholder="First Name" minlength="3" maxlength="50" formControlName="fname"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col no-padding style="text-align: center">
                        <ion-item class="form-control">
                            <!-- <ion-label position="fixed"> Last Name </ion-label> -->
                            <ion-input type="text" placeholder="Last Name" minlength="1" maxlength="50" formControlName="lname"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <ion-row no-padding>
                    <ion-col no-padding style="text-align: center">
                        <ion-item class="form-control">
                            <!-- <ion-label position="floating"> Email Id</ion-label> -->
                            <ion-input type="Email" placeholder="Email" formControlName="email"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row no-padding>

                    <ion-col no-padding>
                        <ion-item class="form-control">
                            <ion-label style="padding-bottom: 2px;"> +91 </ion-label>
                            <ion-input numbersOnly type="tel" inputmode="tel" minlength="10" maxlength="10" placeholder="Mobile Numer" formControlName="mobilenumber"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-item class="form-control">
                            <!-- <ion-label position="floating"> Brand Name</ion-label> -->
                            <ion-input type="text" minlength="2" maxlength="50" placeholder="Brand Name" formControlName="brandname"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-item class="form-control">
                            <ion-label>Select State</ion-label>
                            <ion-select okText="Okay" formControlName="state" cancelText="Dismiss" (ionChange)="onChangeState($event.target.value)" (click)="loadLists()">
                                <ion-select-option *ngFor="let item of stateList" value="{{item.StateID}}">{{item.SName}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row no-padding *ngIf="cities.length > 0">
                    <ion-col no-padding>
                        <ion-item class="form-control">
                            <!-- <ion-label position="floating"> City </ion-label> -->
                            <!-- <ion-input type="text" minlength="2" maxlength="50" placeholder="City" formControlName="city"></ion-input> -->
                            <ion-label>Select District</ion-label>
                            <ion-select okText="Okay" formControlName="city" cancelText="Dismiss">
                                <ion-select-option *ngFor="let item of cities" value="{{item.id}}">{{item.city}}</ion-select-option>
                            </ion-select>

                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col no-padding style="text-align: center">
                        <ion-item class="form-control">
                            <!-- <ion-label position="floating"> Email Id</ion-label> -->
                            <ion-input type="text" placeholder="City" formControlName="District"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-item class="form-control">
                            <!-- <ion-label position="floating"> City </ion-label> -->
                            <ion-input numbersOnly type="tel" minlength="5" maxlength="6" placeholder="Pin Code" formControlName="zip"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-item class="form-control">
                            <!-- <ion-label position="floating"> Password</ion-label> -->
                            <ion-input type="password" minlength="6" placeholder="Password" formControlName="pass"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-item class="form-control">
                            <!-- <ion-label position="floating">Confirm Password</ion-label> -->
                            <ion-input type="password" minlength="6" placeholder="Confirm Password" formControlName="cpass"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-item class="form-control" style="border: 0px solid transparent !important;--padding-start: 0px;">
                            <ion-checkbox [(ngModel)]="terms" formControlName="terms"></ion-checkbox>
                            <ion-label class="open-models"><a href="javascript:void(0);" (click)="labelClick()">Accept Terms and Conditions</a></ion-label>
                            <!-- <ion-label style="padding-left: 10px;">Accept Terms and Conditions</ion-label> -->
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row no-padding>
                    <ion-col no-padding>
                        <!-- <ion-button expand="full" class="btn-submit" type="submit" [disabled]="!form?.valid"> -->
                        <ion-button expand="full" class="btn-submit" type="submit">
                            Register
                        </ion-button>
                    </ion-col>
                </ion-row>

                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label>Already have a account? </ion-label>
                        <ion-label style="color: red;" (click)="goToLogin()"> <span>Login</span></ion-label>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </form>
    </div>
</ion-content>