.back_arrow {
    width: 40px;
    height: 40px;
}

.logo-title {
    color: white !important;
}

ion-row {
    align-items: center;
}

.upload-sec {
    height: 52px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    --ion-background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}