<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="this.tools.backPage()">
                            <ion-img class="back-btn" src="../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>
                    </ion-col>
                    <ion-col size="10" style="text-align: center;">
                        <ion-label class="logo-title">{{title}}</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-content no-padding class="main-wrapper">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-grid>
            <ion-row no-padding>
                <ion-col no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> Name </ion-label> -->
                        <ion-input type="text" minlength="3" maxlength="50" placeholder="Name" formControlName="name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding class="upload-sec" (click)="selectImage()">
                <ion-col no-padding style="text-align: start !important" size="10">
                    <ion-label style="font-size: 13px;padding-left: 10px !important;">Upload Image</ion-label>
                </ion-col>
                <ion-col no-padding style="text-align: start !important" size="2">
                    <ion-img *ngIf="image == undefined && Image == undefined" src="../../../../assets/images/upload.png" style="height: 25px;"></ion-img>
                    <ion-img *ngIf="image !=undefined " src="{{image}}" style="height: 25px;"></ion-img>
                    <ion-img *ngIf="image == undefined && Image != undefined" src="{{Image}}" style="height: 25px;"></ion-img>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="page == 'new'">
                <ion-col>
                    <ion-button expand="full" class="btn-submit" type="submit">
                        Add
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="page == 'edit'">
                <ion-col>
                    <ion-button expand="full" class="btn-submit" type="submit">
                        Update
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="page == 'edit'">
                <ion-col>
                    <ion-button expand="full" class="btn-submit" style="margin-top: 0px !important;" (click)=delete()>
                        Delete
                    </ion-button>
                </ion-col>
            </ion-row>



        </ion-grid>
    </form>
</ion-content>