<ion-content no-padding>
    <form class="form" [formGroup]="form" (ngSubmit)="Next()">
        <ion-grid>
            <ion-row no-padding *ngIf="!isEdit && selProdusts.length>0">
                <ion-col style="text-align: left">
                    <ion-label class="label-title"> Products </ion-label>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="isEdit">
                <ion-col no-padding style="text-align: center" (click)="selectProduct()">
                    <ion-item no-padding class="form-control">
                        <ion-label class="select-prod"> {{selectedProd}} </ion-label>
                        <ion-img style="height: 15px;" src="../../../../assets/images/DropDownC.png"></ion-img>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="selProdusts.length>0">
                <ion-col style="padding: 0px;">
                    <ion-grid style="padding-top: 0px;">
                        <ion-row class="list_block">
                            <ion-col *ngFor="let item of selProdusts; let i= index" size="4">
                                <div class="cat-box">
                                    <!-- <ion-img src="{{item.PImg}}.png"></ion-img> -->
                                    <img class="view-img" *ngIf="item.Image.length==0" src="../../../../assets/images/error_img.png" />
                                    <img class="view-img" *ngIf="item.Image.length!=0" src="{{item.Image[0].Image}}" />
                                    <ion-label class="cat-title"> {{item.ProName}}</ion-label>
                                    <!-- <ion-label class="cat-price"> {{item.price}}</ion-label> -->
                                    <ion-img class="del" *ngIf="isEdit" (click)="removeImage('prod',item)" src="../../../../assets/images/Delete.png"></ion-img>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="isEdit">
                <ion-col no-padding style="text-align: center" (click)="UploadPhoto()">
                    <ion-item no-padding class="form-control">
                        <ion-label class="select-prod"> Upload Photo </ion-label>
                        <ion-img style=" width: 25px;" src="../../../../assets/images/Camera.png"></ion-img>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="imageCamera.length>0">
                <ion-col style="padding: 0px;">
                    <ion-grid style="padding-top: 0px;">
                        <ion-row class="list_block">
                            <ion-col *ngFor="let item of imageCamera; let i= index" size="4">
                                <div class="cat-box">
                                    <img class="view-img" style="height: 130px !important;" src="{{item.Image}}" />
                                    <ion-img class="del" (click)="removeImage('camera',item)" src="../../../../assets/images/Delete.png"></ion-img>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="isEdit">
                <ion-col no-padding style="text-align: center" (click)="UploadFile()">
                    <ion-item no-padding class="form-control">
                        <ion-label class="select-prod"> Upload File </ion-label>
                        <ion-img style=" width: 25px;" src="../../../../../../assets/images/upload_file.png"></ion-img>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding *ngIf="!isEdit && imageFile.length>0">
                <ion-col style="text-align: left">
                    <ion-label class="label-title"> Photos</ion-label>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="imageFile.length>0">
                <ion-col style="padding: 0px;">
                    <ion-grid style="padding-top: 0px;">
                        <ion-row class="list_block">
                            <ion-col *ngFor="let item of imageFile; let i= index" size="4">
                                <div class="cat-box">
                                    <img class="view-img" style="height: 130px !important;" src="{{item.Image}}" />
                                    <ion-img class="del" *ngIf="isEdit" (click)="removeImage('file',item)" src="../../../../assets/images/Delete.png"></ion-img>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <ion-input placeholder="Order Name" minlength="3" [disabled]="!isEdit" maxlength="50" formControlName="OrderName" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> Upload Image</ion-label> -->
                        <ion-input placeholder="Order Price" [disabled]="!isEdit" minlength="1" maxlength="5" formControlName="price" type="number"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding>
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> Delivary Date</ion-label> -->
                        <!-- <ion-datetime style="--padding-start: 0px;" [disabled]="!isEdit" placeholder="Delivary Date" display-format="DD MMM YYYY" picker-format="DD MMM YYYY" formControlName="delivary" [(ngModel)]="myDate"></ion-datetime> -->
                        <ion-datetime style="--padding-start: 0px;" [disabled]="!isEdit" display-format="DD-MM-YYYY" picker-format="DD-MM-YYYY" min="{{myDate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="Date" placeholder="Delivary Date (DD-MM-YYYY)"></ion-datetime>
                        <ion-icon item-end name="calendar" class="calIcon"></ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row no-padding>
                <ion-col no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating"> Upload Image</ion-label> -->
                        <ion-textarea rows="3" [disabled]="!isEdit" placeholder="Description" maxlength="200" formControlName="ProDecription"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row *ngIf=" this.apiServices.getFrom() != '2'">
                <ion-col *ngIf="!isEdit">
                    <ion-button expand="full" class="btn-submit" (click)="Next()">
                        Edit
                    </ion-button>
                </ion-col>
                <ion-col *ngIf="isEdit">
                    <ion-button expand="full" class="btn-submit" (click)="Update()">
                        Details Update
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>