<ion-content no-padding>
    <ion-grid class="mt-10">
        <ion-row *ngFor="let item of items">
            <ion-col>
                <ion-grid class="noti-item" (click)="UpdateStatus(item)">
                    <ion-row>
                        <ion-col size="9">
                            <ion-label class="title">{{item.OrderName}}</ion-label>
                        </ion-col>
                        <ion-col size="3" style="text-align: right;">
                            <ion-label class="time">{{item.CDate}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-label class="cotent">{{item.ProDecription}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="2">
                            <ion-label class="cotent">State</ion-label>
                        </ion-col>
                        <ion-col size="10">
                            <ion-label class="cotent">{{item.statename}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="2">
                            <ion-label class="cotent">Price</ion-label>
                        </ion-col>
                        <ion-col size="10">
                            <ion-label class="cotent">{{item.price}}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>


            </ion-col>
        </ion-row>
        <ion-row *ngIf="items.length == 0" class="empty-cels">
            <ion-col>
                <ion-label class="empty-title"> There is no order.</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>