    /*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
    /* Core CSS required for Ionic components to work properly */
    
    @import "~@ionic/angular/css/core.css";
    /* Basic CSS for apps built with Ionic */
    
    @import "~@ionic/angular/css/normalize.css";
    @import "~@ionic/angular/css/structure.css";
    @import "~@ionic/angular/css/typography.css";
    @import '~@ionic/angular/css/display.css';
    /* Optional CSS utils that can be commented out */
    
    @import "~@ionic/angular/css/padding.css";
    @import "~@ionic/angular/css/float-elements.css";
    @import "~@ionic/angular/css/text-alignment.css";
    @import "~@ionic/angular/css/text-transformation.css";
    @import "~@ionic/angular/css/flex-utils.css";
    ion-toolbar {
        // --background: #A01915 !important;
        // border: none;
        // color: #fff !important;
        // box-shadow: 0 0 5px #555;
        --background: #d77073;
        border: none;
        color: #fff !important;
        /* box-shadow: 0 0 5px #555; */
    }
    
    .header-md::after {
        display: none !important;
    }
    
    .error-message {
        color: var(--ion-color-danger);
    }
    
    .show-modal {
        background: rgba(0, 0, 0, 0.45);
    }
    
    .modal-wrapper {
        --background: transparent;
        box-shadow: 0 16px 20px rgba(0, 0, 0, .4);
        background-color: transparent;
        height: 35%;
        width: 80%;
        min-height: 50px;
        border-radius: 5px;
        @media (min-width: 768px) {
            height: 45%;
            width: 400px;
        }
    }
    
    .cotent-back {
        width: 100%;
        // height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .logo-title {
        color: #d77073 !important;
        display: inline-block;
        vertical-align: top;
    }
    
    .padding-0 {
        padding: 0px !important;
    }
    
    ion-content {
        // --background: radial-gradient(circle closest-side at 50% 50%, #010B17 0%, #010B17 100%);
        // --background: radial-gradient(circle closest-side at 50% 50%, #f1a1a4 0%, #d77073 100%);
        --background: #d77073;
    }
    
    ion-app {
        // margin-top: env(safe-area-inset-top);
        margin-bottom: env(safe-area-inset-bottom)
    }
    
    .button-native {
        --padding-top: 2px !important;
    }
    
    .btn {
        max-width: 170px;
        width: 100%;
        font-family: 'Lato-Bold';
        font-size: 15px;
        height: 40px;
    }
    
    .btn.btn-round {
        border-radius: 40px !important;
        overflow: hidden;
    }
    
    .social-btn {
        max-width: 184px !important;
        font-size: 12px !important;
    }
    
    .text-normal {
        text-transform: none !important;
    }
    
    .text-uppercase {
        text-transform: uppercase !important;
    }
    
    .text-capitalize {
        text-transform: capitalize !important;
    }
    
    .text-center {
        text-align: center !important;
    }
    
    .text-justify {
        text-align: justify !important;
    }
    
    .text-right {
        text-align: right !important;
    }
    
    .form {
        width: 90% !important;
        display: block !important;
        margin: 0px auto !important;
        /* box-shadow: 0px 0px 4px #ccc !important; */
        // padding: 10px 0 !important;
        /* border-radius: 5px !important; */
        // width: 80% !important;
        // display: block !important;
        // margin: 16px auto !important;
        // box-shadow: 0px 0px 4px #ccc !important;
        // padding: 9px !important;
        // border-radius: 5px !important;
    }
    
    .form-control {
        --ion-background-color: transparent;
        font-family: 'Poppins' !important; 
        border: 1px solid #fff;
        color: #fff;
        font-size: 13px;
    }
    ion-input{
        text-transform:capitalize;
    }
    ion-textarea{
        text-transform:capitalize;
    }
    .container {
        width: 80% !important;
        margin: 0 auto;
    }
    
    .empty-list-box {
        background: #fff !important;
        width: 100% !important;
        height: 100% !important;
        position: relative !important;
    }
    
    .empty-list {
        color: #fff!important;
        font-size: 25px !important;
        text-align: center !important;
        width: 100% !important;
        position: absolute !important;
        top: 43% !important;
        left: auto;
        transform: translate(0%, -50%) !important;
    }
    
    .container-fluid {
        width: 100% !important;
        margin: 0 auto;
        padding: 0px 30px;
        display: block;
    }
    
    .mt-5 {
        margin-top: 5px;
    }
    
    .mt-10 {
        margin-top: 10px;
    }
    
    .mt-15 {
        margin-top: 15px;
    }
    
    .mt-20 {
        margin-top: 20px;
    }
    
    .mt-30 {
        margin-top: 30px;
    }
    
    .mt-45 {
        margin-top: 45px;
    }
    
    .mt-50 {
        margin-top: 50px;
    }
    
    .mb-20 {
        margin-bottom: 20px !important;
    }
    
    .mb-10 {
        margin-bottom: 10px !important;
    }
    
    .margin-16-0 {
        margin: 16px 0px;
    }
    
    ion-title {
        // padding: 0px 10px;
        text-align: center;
        -webkit-padding-start: 5px !important;
        -webkit-padding-end: 5px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    
    .logo {
        display: inline-block;
        width: 30px;
        margin-right: 5px;
    }
    
    .back-button.button {
        position: absolute;
        left: 0px;
    }
    
    // .register-button {
    //     --background: -webkit-linear-gradient(90deg, #A01915 0%, #A01915 100%) !important;
    //     color: white
    // }
    .btn-danger {
        --background: #A01915 !important;
        color: #fff;
        margin: 0 auto;
        display: block;
        margin-top: 15px;
        margin-bottom: 8px;
    }
    
    .btn-submit {
        height: 50px;
        --background: #5b5b5b !important;
        color: #fff;
        margin: 0 auto;
        display: block;
        margin-top: 15px;
        margin-bottom: 8px;
    }
    
    .title-loc {
        margin-top: 0px;
        display: inline-block;
        font-size: 13px;
        padding: 0px;
        line-height: 0px;
        letter-spacing: 0px;
        font-family: 'Poppins-Bold';
        color: #505050;
        margin-left: 1px;
    }
    
    ion-label {
        color: #fff !important;
        font-family: 'Poppins' !important;
    }
    
    .title {
        color: #fff !important;
    }
    
    .title-loc.bold {
        //  display: block;
        display: inline !important;
        // margin: 10px 0px !important;
        // margin-left: 0px !important;
        // margin-top: 15px !important;
        color: #1c355e;
        font-size: 16px;
    }
    
    @media (max-width: 380px) {
        .container {
            width: 85% !important;
            margin: 0 auto;
        }
    }
    
    .open-models {
        opacity: 1 !important;
    }
    
    .open-models a {
        position: relative !important;
        color: #fff !important;
        display: inline-block !important;
        z-index: 1111 !important;
        pointer-events: all !important;
        padding-left: 10px !important;
    }
    
    .my-custom-class {
        --max-width: 90% !important;
        //  --background: #e5e5e5;
    }
    
    .alert-wrapper {
        --max-width: 90% !important;
        //  --background: #e5e5e5;
    }
    
    .alert-message {
        max-height: 80% !important;
    }
    
    ion-searchbar {
        --background: #transparent !important;
        --color: #fff !important;
        --placeholder-color: #fff !important;
        --clear-button-color: #fff !important;
        --cancel-button-color: #fff !important;
        --box-shadow: 0 0px 1px 0 !important;
        padding-inline-start: 0px !important;
        padding-inline-end: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    @media (max-width: 340px) {
        .container {
            width: 90% !important;
            margin: 0 auto;
        }
    }
    
    .no-item {
        text-align: center !important;
        font-weight: bold !important;
    }
    
    .empty-cels {
        align-items: center !important;
        min-height: calc(100vh - 58px) !important;
    }
    
    .empty-title {
        color: #fff !important;
        width: 100% !important;
        text-align: center !important;
        display: block !important;
    }
    
    ion-select {
        max-width: 100% !important;
    }
    
    .search-icon {
        padding: 5px !important;
    }
    
    .back-btn {
        width: 100% !important;
    }
    
    .view-img {
        width: auto;
        max-width: none;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .cat-box-n {
        width: 100%;
        height: 130px;
        position: relative;
        box-shadow: 0px 0px 1px #eee;
        border-radius: 8px;
        overflow: hidden;
        background: #fff;
    }
    
    .cat-box-n.add-cat ion-img {
        width: 30px;
        height: 30px;
        display: block;
        margin: 25px auto;
    }
    
    .cat-title {
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 11;
        padding: 5px;
        width: 100%;
        color: #fff !important;
        background: #00000087;
        text-align: center;
        font-size: 13px;
    }
    
    .cat-box {
        width: 100%;
        height: 130px !important;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 0px 1px #eee;
    }
    
    .cat-box::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
    
    .fav-box {
        width: 100%;
        height: 150px !important;
        position: relative;
        overflow: hidden;
        min-height: 100px !important;
        max-height: 130px !important;
        box-shadow: 0px 0px 1px #eee;
    }
    
    .calIcon {
        font-size: 2rem !important;
        position: absolute;
        margin: 0px auto !important;
        right: 5px;
        color: white;
    }
    
    .icons-btn {
        width: 40px;
        height: 40px;
        background-color: #032b71;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
    }
    
    .icon {
        font-size: 27px;
        position: relative;
        top: 6px;
    }