
ion-content {
    --background: #f3f2f2 !important;
}

// ion-label {
//     color: #686868 !important;
// }
.tab-nav-box {
    width: 100%;
    max-width: 50% !important;
    float: left;
    color: #ffffff;
    background: #d77073 !important;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.tab-nav-box.tab-selected {
    color: #ffffff;
    border-bottom: 5px solid #ffffff;
}

.logo-title {
    color: white !important;
    display: block!important;
    overflow: hidden !important;
    text-overflow: ellipsis!important;
}