<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="backPage()">
                            <ion-img class="back-btn" src="../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>
                    </ion-col>
                    <ion-col *ngIf="!isSearch" size="10" style="text-align: center;">
                        <ion-label class="logo-title">{{pageTitle}} Order</ion-label>
                    </ion-col>
                    <ion-col size="1">
                        <ion-buttons no-padding>
                            <!-- <ion-img class="search-icon" src="../../../assets/images/Search.png" (click)="search()"></ion-img> -->
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding>
    <ion-tabs tabbarPlacement="top" color="primary" (ionTabsDidChange)="tabChange($event)">
        <ion-tab-bar slot="top">
            <ion-tab-button class="tab-nav-box" tab="upcomming">
                <ion-label>Upcoming</ion-label>
            </ion-tab-button>
            <ion-tab-button class="tab-nav-box" tab="inprogress">
                <ion-label>In Process</ion-label>
            </ion-tab-button>
            <ion-tab-button class="tab-nav-box" tab="delivered">
                <ion-label>Delivered</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>