:host {
    ion-content {
        --background: transparent;
        position: relative;
    }
    .cls-model {
        position: absolute !important;
        left: 50%!important;
        transform: translate(-50%, 0) !important;
        top: 15vh !important;
        // bottom: 78vh !important;
        z-index: 1111!important;
        color: #4D6eE3!important;
        font-weight: bold!important;
        font-size: 20px!important;
        text-align: center!important;
        --border-radius: 50% !important;
        --background: white !important;
        height: 50px !important;
        width: 50px !important;
    }
    ion-item ion-label {
        color: black !important;
    }
    .dilog {
        width: 85%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-submit {
        --background: #d77073 !important;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    ion-col {
        padding: 0px;
    }
}