<ion-content scrollX="false" scrollY="false">
    <div class="dilog">

        <ion-list *ngIf="isShow">
            <ion-radio-group [(ngModel)]="selStatus">
                <ion-item>
                    <ion-label>In Process</ion-label>
                    <ion-radio slot="end" value="inprogress"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Delivered</ion-label>
                    <ion-radio slot="end" value="delivered"></ion-radio>
                </ion-item>

            </ion-radio-group>
        </ion-list>
        <ion-list *ngIf="!isShow">
            <ion-radio-group [(ngModel)]="selStatus">
                <ion-item>
                    <ion-label>Delivered</ion-label>
                    <ion-radio slot="end" value="delivered"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button class="btn-submit" (click)="cancel()">Cancel</ion-button>
                </ion-col>
                <ion-col size="0.5">
                </ion-col>
                <ion-col>
                    <ion-button class="btn-submit" (click)="update()">Update</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

</ion-content>