<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header">
                <ion-row style="align-items: center;">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="dismissModal()">
                            <!-- <ion-back-button text="" defaultHref=""></ion-back-button> -->
                            <ion-img class="back-btn" src="../../../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>
                    </ion-col>
                    <ion-col size="8.5" style="text-align: center;">
                        <ion-label class="logo-title">Select Product</ion-label>
                    </ion-col>
                    <ion-col size="2.5" style="text-align: center;" (click)="selectProduct()">
                        <ion-label class="logo-title">Done</ion-label>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content scrollX="false" scrollY="false">
    <ion-grid class="store-list-container" no-padding>
        <ion-row class="list_block">
            <!-- <ion-col size="4" (click)="AddProduct()">
                <div class="cat-box add-cat" style="background: #d77073;">
                    <ion-img class="add-img" src="../../../../../assets/images/Upload_Category.png"></ion-img>
                    <ion-label class="cat-title" style="background: transparent;bottom: 10px;"> Add Product</ion-label>
                </div>
            </ion-col> -->
            <ion-col *ngFor="let item of prodItems" size="4">
                <div class="cat-box">
                    <img class="view-img" *ngIf="item.Image.length==0" src="../../../../../assets/images/error_img.png" />
                    <img class="view-img" *ngIf="item.Image.length!=0" src="{{item.Image[0].Image}}" />
                    <ion-checkbox (ionChange)="itemChange($event,item)" value="{{item.isCheck}}"> </ion-checkbox>
                    <ion-label class="cat-title"> {{item.ProName}}</ion-label>
                    <!-- <ion-label class="cat-price"> {{item.price}}</ion-label> -->

                </div>
            </ion-col>
        </ion-row>
        <!-- <div class="fix_btn">
            <ion-button class="btn btn-blue" (click)="close()">{{btnName}}</ion-button>
        </div> -->
    </ion-grid>

</ion-content>