<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col *ngIf="!isSearch" size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <ion-img class="back-btn" src="../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>
                    </ion-col>
                    <ion-col *ngIf="!isSearch" size="10" style="text-align: center;">
                        <ion-label class="logo-title">Wishlist</ion-label>
                    </ion-col>
                    <ion-col *ngIf="isSearch" size="12" style="text-align: center;">
                        <ion-searchbar showCancelButton="focus" animated cancelButtonText="Custom Cancel" (ionCancel)="ionCancel()" (ionChange)="ionChange($event)" (ionCancel)="search()"></ion-searchbar>
                    </ion-col>
                    <ion-col *ngIf="!isSearch && prodItems.length != 0 " size="1">
                        <ion-buttons no-padding>
                            <ion-img src="../../../assets/images/Search.png" (click)="search()"></ion-img>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding class="main-wrapper">
    <ion-grid style="padding-top: 0px;">
        <ion-row class="list_block" *ngIf="prodItems.length != 0">
            <ion-col *ngFor="let item of prodItems" size="4">
                <div class="cat-box" (click)="viewProduct(item)">
                    <img class="view-img" *ngIf="item.Image.length!=0" src="{{item.Image[0].Image}}" />
                    <img class="view-img" *ngIf="item.Image.length==0" src="../../../assets/images/error_img.png" />
                    <ion-img class="fav" (click)="fav(item,'0')" src="../../../assets/images/Like.png"></ion-img>
                    <ion-label class="cat-title"> {{item.ProName}}</ion-label>
                    <!-- <ion-label class="cat-price"> {{item.price}}</ion-label> -->
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="prodItems.length == 0" class="empty-cels">
            <ion-col>
                <ion-label class="empty-title"> Wishlist is empty.</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>