    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    
    ion-content {
        --background: white !important;
    }
    
    .logo-title {
        color: white !important;
    }
    
    .title {
        margin-top: 9px;
        font-size: 13px;
        color: #d77073 !important;
        line-height: normal;
    }
    
    .value {
        font-size: 13px;
        color: #505050;
    }
    
    ion-row {
        text-align: center;
        align-items: center;
        border-bottom: 1px solid #b2b2b2;
    }
    
    ion-label {
        text-align: left;
    }
    
    ion-item {
        color: black;
    }
    
    ion-input {
        text-align: left;
    }
    
    ion-select {
        --padding-start: 0px !important;
    }
    
    ion-textarea {
        padding-top: 0px;
        text-align: left;
    }
    
    .profile-img-box {
        margin-bottom: 20px !important
    }
    
    .profile_image {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        margin-top: 0px;
        background-color: #939393;
        padding: 7px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }
    
    .profile_image ion-img {
        width: 100%;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .profile-img-box {
        background-color: #00000000;
        color: white;
        text-align: center;
        justify-content: center;
        //padding: 15px;
    }
    
    .icons-btn {
        width: 24px;
        height: 22px;
        background-color: #d77073;
        /* overflow: hidden; */
        border-radius: 50%;
        position: absolute;
        text-align: center;
        overflow: hidden;
        /* left: 50%; */
        transform: translate(-50%, 0);
        bottom: -8px;
    }
    
    #fileInput {
        opacity: 0;
        display: none;
    }
    
    .pop-block {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7) !important;
        z-index: 1111;
    }
    
    .popup-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    
    .popup-box-close {
        color: #FFFFFF;
        font-size: 30px;
        width: 30px;
        float: right;
    }
    
    ion-checkbox {
        --webkit-margin-end: 10px !important;
        --margin-inline-end: 10px !important;
        --ion-color-primary: #505050 !important;
        --ion-color-primary-contrast: #ff0000 !important;
        --border-color: #505050;
    }
    
    .sec .form-control {
        border-bottom: none !important;
        font-size: 15px !important;
        display: block !important;
        --inner-border-width: 0 0 0px 0 !important;
        width: auto !important;
        float: left;
    }
    
    .clickEnableCls {
        --pointer-events: visible !important;
    }
    
    .form-control {
        --ion-background-color: transparent;
        border: 0px solid !important;
        color: #d77073 !important;
        font-size: 13px;
    }
    
    .btn-submit {
        /* height: 50px; */
        /* --background: #5b5b5b !important; */
        /* color: #fff; */
        /* margin: 0 auto; */
        display: block;
        margin: 20px !important;
        /* margin-bottom: 8px; */
        /* margin-left: 20px; */
    }