<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header">
                <ion-row style="align-items: center; border-bottom: 0px solid !important">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <ion-img class="back-btn" src="../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>

                    </ion-col>
                    <ion-col size="10" style="text-align: center;">
                        <ion-label class="logo-title">Profile</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <ion-grid no-padding>
            <ion-row *ngIf="isShow" class="profile-img-block">
                <ion-col class="profile-img-box">
                    <div class="profile_image">
                        <ion-img class="pro-img" id="profile_image" *ngIf="image !=undefined && user.Image == undefined" src="{{image}}"></ion-img>
                        <ion-img class="pro-img" id="profile_image" *ngIf="image == undefined && user.Image != undefined" src="{{user.Image}}"></ion-img>
                        <ion-img class="pro-img" id="profile_image" *ngIf="image == undefined && user.Image == undefined" src="../../../assets/images/Profile.png"></ion-img>
                    </div>
                    <input type="hidden" formControlName="image">
                    <label *ngIf="isEdit" for="fileInput" icon-only ion-button class="icons-btn">
                            <ion-icon name="camera" (click)="selectImage()" class="icon"></ion-icon>
                        </label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">First Name</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" [disabled]="!isEdit" minlength="3" maxlength="50" type="text" formControlName="fname"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Last Name</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" [disabled]="!isEdit" minlength="1" maxlength="50" type="text" formControlName="lname"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Mobile No.</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <div style="display: flex; align-items: center;">
                        <ion-label class="value" style="opacity: 0.4; color: #000 !important;    margin-right: -4px;">+91</ion-label>
                        <ion-input class="value" disabled numbersOnly type="tel" inputmode="tel" minlength="10" maxlength="10" formControlName="mobilenumber"></ion-input>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Email</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" type="text" [disabled]="!isEdit" formControlName="email"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Brand Name</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" type="text" minlength="2" maxlength="50" [disabled]="!isEdit" formControlName="brandname"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">State</ion-label>
                </ion-col>
                <ion-col size="7.5" style="padding: 0px;">
                    <ion-item no-padding class="form-control">
                        <ion-select okText="Okay" [disabled]="!isEdit" [placeholder]="selStateNm ? selStateNm : 'Tap to select state'" formControlName="state" [(ngModel)]="selState" (ionChange)="onChangeState($event.target.value)" cancelText="Dismiss" style="max-width: 100% !important;"
                            (click)="loadLists()">
                            <ion-select-option *ngFor="let item of stateList" value="{{item.StateID}}">{{item.SName}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">District</ion-label>
                </ion-col>
                <ion-col size="7.5" style="padding: 0px;">
                    <!-- <ion-input class="value" minlength="2" maxlength="50" [disabled]="!isEdit" type="text" formControlName="city"></ion-input> -->
                    <ion-item no-padding class="form-control">
                        <ion-select okText="Okay" [disabled]="!isEdit" value="this.selCust != undefined?this.selCust.city:''" [placeholder]="selCityNm ? selCityNm : 'Tap to select district'" [(ngModel)]="selCity" formControlName="city" cancelText="Dismiss">
                            <ion-select-option *ngFor="let item of cities" value="{{item.id}}">{{item.city}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">City</ion-label>
                </ion-col>
                <ion-col size="7.5" style="padding: 0px;">
                    <!-- <ion-input class="value" minlength="2" maxlength="50" [disabled]="!isEdit" type="text" formControlName="city"></ion-input> -->
                    <ion-item no-padding class="form-control">
                        <ion-input class="value" type="text" [disabled]="!isEdit" formControlName="District"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Pin Code</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" [disabled]="!isEdit" numbersOnly type="tel" minlength="5" maxlength="6" formControlName="zip"></ion-input>
                </ion-col>
            </ion-row>

        </ion-grid>
        <ion-button *ngIf="isEdit" expand="full" class="btn-submit" type="submit">
            Save
        </ion-button>
        <ion-button expand="full" class="btn-submit" type="submit" *ngIf="!isEdit" (click)="edit()">
            Edit
        </ion-button>
    </form>
</ion-content>