<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header">
                <ion-row style="align-items: center; border-bottom: 0px solid !important">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="backPage()">
                            <ion-img class="back-btn" src="../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>

                    </ion-col>
                    <ion-col size="10" style="text-align: center;">
                        <ion-label class="logo-title">Notification</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>

                </ion-row>
                <!-- <ion-row style="align-items: center;">
                    
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="backPage()">
                            <ion-img class="back-btn" src="../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>

                    </ion-col>
                    <ion-col size="10" style="text-align: center;">
                        <ion-label class="logo-title">Notification</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>

                </ion-row> -->
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="mt-10">
        <ion-row *ngFor="let item of items">
            <ion-col>
                <ion-grid class="noti-item" (click)="viewOrder(item)">
                    <ion-row>
                        <ion-col size="9">
                            <ion-label class="title">{{item.OrderName}}</ion-label>
                        </ion-col>
                        <ion-col size="3" style="text-align: right;">
                            <ion-label class="time">{{ item.DeliveryDate | date:'dd-MM-yyyy' }}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-label class="cotent">{{item.ProDecription}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <!-- <ion-row>
                        <ion-col size="2">
                            <ion-label class="cotent">State</ion-label>
                        </ion-col>
                        <ion-col size="10">
                            <ion-label class="cotent">{{item.statename}}</ion-label>
                        </ion-col>
                    </ion-row> -->

                    <ion-row>
                        <ion-col size="9">
                            <ion-row>
                                <ion-col size="2">
                                    <ion-label class="cotent">Price</ion-label>
                                </ion-col>
                                <ion-col size="10">
                                    <ion-label class="cotent">{{item.price}}</ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col size="3" *ngIf="item.Status == 'pending'">
                            <ion-label class="cotent status">Pending</ion-label>
                        </ion-col>
                        <ion-col size="3" *ngIf="item.Status == 'inprogress'">
                            <ion-label class="cotent status">In Process</ion-label>
                        </ion-col>
                        <ion-col size="3" *ngIf="item.Status == 'delivered'">
                            <ion-label class="cotent status">Delivered</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="items.length == 0" class="empty-cels">
            <ion-col>
                <ion-label class="empty-title"> There is no notification.</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>