<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col *ngIf="!isSearch" size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <!-- <ion-back-button text="" defaultHref=""></ion-back-button> -->
                            <ion-img class="back-btn" src="../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>

                    </ion-col>
                    <ion-col *ngIf="!isSearch" size="10" style="text-align: center;">
                        <ion-label class="logo-title">Category</ion-label>
                    </ion-col>
                    <ion-col *ngIf="isSearch" size="12" style="text-align: center;">
                        <ion-searchbar showCancelButton="focus" animated cancelButtonText="Custom Cancel" (ionCancel)="ionCancel()" (ionChange)="ionChange($event)" (ionCancel)="search()"></ion-searchbar>
                    </ion-col>
                    <ion-col *ngIf="!isSearch && catItemsAll.length !=0" size="1">
                        <ion-buttons no-padding>
                            <ion-img src="../../../assets/images/Search.png" (click)="search()"></ion-img>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding class="main-wrapper">
    <ion-grid style="padding-top: 0px;">
        <!-- <ion-row class="list_block" *ngIf="catItems.length == 0">
            <ion-col *ngIf="!this.isSearch" style="padding: 0px;">
                <ion-grid style="padding-top: 0px;">
                    <ion-row class="list_block">
                        <ion-col size="4" (click)="addCategory()">
                            <div class="cat-box-n add-cat">
                                <ion-img src="../../../assets/images/AddProduct.png"></ion-img>
                                <ion-label class="cat-title" style="color: #d77073 !important;padding: 10px; background: transparent;"> Add Category</ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row> -->
        <ion-row class="list_block" *ngIf="catItems.length != 0">
            <ion-col *ngFor="let item of catItems" size="4" (click)="category(item)" (press)="onPress($event)" (pressup)="onPressUp($event)">
                <div class="cat-box">
                    <img class="view-img" *ngIf="item.Image != undefined" src="{{item.Image}}" />
                    <img class="view-img" *ngIf="item.Image == undefined" src="../../../assets/images/error_img.png" />
                    <!-- <ion-img class="del" (click)="delete(item)" src="../../../assets/images/Delete.png"></ion-img> -->
                    <ion-label class="cat-title"> {{item.Name}}</ion-label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="catItems.length == 0" class="empty-cels">
            <ion-col>
                <ion-label class="empty-title"> Category not found.</ion-label>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>