ion-row.list_blocks ion-col {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.logo-title {
    color: white !important;
}

.fav {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    z-index: 11111;
}

.like {
    position: absolute;
    top: 30px;
    right: 5px;
    width: 20px;
    z-index: 11111;
}

.del {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    z-index: 11111;
}