<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col *ngIf="!isSearch" size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <ion-img class="back-btn" src="../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>
                    </ion-col>
                    <ion-col *ngIf="!isSearch" size="10" style="text-align: center;">
                        <ion-label class="logo-title">{{pageTitle}}</ion-label>
                    </ion-col>
                    <ion-col *ngIf="isSearch" size="12" style="text-align: center;">
                        <ion-searchbar showCancelButton="focus" animated cancelButtonText="Custom Cancel" (ionCancel)="ionCancel()" (ionChange)="ionChange($event)" (ionCancel)="search()"></ion-searchbar>
                    </ion-col>
                    <ion-col *ngIf="!isSearch && prodItems.length != 0" size="1">
                        <ion-buttons no-padding>
                            <ion-img src="../../../assets/images/Search.png" (click)="search()"></ion-img>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding class="main-wrapper">


    <ion-grid style="padding-top: 0px;">
        <ion-row class="list_block">

            <!-- <ion-col *ngIf="prodItems.length == 0" size="4">
                <div class="cat-box-n add-cat" *ngIf="!this.isSearch" (click)="AddProduct()">
                    <ion-img src="../../../assets/images/AddProduct.png"></ion-img>
                    <ion-label class="cat-title" style="color: #d77073 !important;padding: 10px; background: transparent;"> Add Product</ion-label>
                </div>
            </ion-col> -->

            <ion-col *ngFor="let item of prodItems" size="4">
                <div class="cat-box">
                    <img class="view-img" *ngIf="item.Image.length!=0" (click)="viewProduct(item)" src="{{item.Image[0].Image}}" />
                    <img class="view-img" *ngIf="item.Image.length==0" src="../../../assets/images/error_img.png" />
                    <ion-img class="fav" *ngIf="item.isFav == null || item.isFav == 0" (click)="addtowishlist(item,'1')" src="../../../assets/images/Unlike.png"></ion-img>
                    <ion-img class="fav" *ngIf="item.isFav !=null && item.isFav == 1" (click)="addtowishlist(item,'0')" src="../../../assets/images/Like.png"></ion-img>
                    <!-- <ion-img class="like" *ngIf="item.IsLike == null || item.IsLike == 0" (click)="fav(item,'1')" src="../../../assets/images/unfav.png"></ion-img>
                    <ion-img class="like" *ngIf="item.IsLike !=null && item.IsLike == 1" (click)="fav(item,'0')" src="../../../assets/images/fav.png"></ion-img> -->
                    <ion-img class="del" (click)="delete(item)" src="../../../assets/images/Delete-w.png"></ion-img>
                    <ion-label class="cat-title" (click)="viewProduct(item)"> {{item.ProName}}</ion-label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="prodItems.length == 0" class="empty-cels">
            <ion-col>
                <ion-label class="empty-title"> {{message}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>