<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <!-- <ion-back-button text="" defaultHref=""></ion-back-button> -->
                            <ion-img class="back-btn" src="../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>

                    </ion-col>
                    <ion-col size="10" style="text-align: center;">
                        <ion-label class="logo-title">Forgot Password</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>
                    
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-grid>


            <ion-row no-padding>
                <ion-col no-padding style="text-align: center">
                    <ion-label position="stacked"> Enter the Mobile Number associated with your account.</ion-label>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="stacked"> Email</ion-label> -->
                        <ion-input numbersOnly type="tel" inputmode="tel" minlength="10" maxlength="10" placeholder="Enter Mobile Number" formControlName="mno"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row class="container">
                <ion-col>
                    <!-- [disabled]="!form?.valid" -->
                    <ion-button class="btn-submit" type="submit">
                        Submit
                    </ion-button>
                </ion-col>
            </ion-row>
            <!-- <ion-row>
                <ion-col>
                    <ion-button class="register-button btn btn-danger text-capitalize" type="submit" [disabled]="!form?.valid">
                        Submit
                    </ion-button>
                </ion-col>
            </ion-row> -->


        </ion-grid>
    </form>
</ion-content>