<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <!-- <ion-back-button text="" defaultHref=""></ion-back-button> -->
                            <ion-img class="back-btn" src="../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>

                    </ion-col>
                    <ion-col size="10" style="text-align: center;">
                        <ion-label class="logo-title">Change Password</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form class="form" [formGroup]="cpForm" (ngSubmit)="onSubmit(cpForm.value)">

        <ion-row no-padding class="container mt-30">
            <ion-col no-padding style="text-align: center">
                <ion-item no-padding class="form-control">
                    <!-- <ion-label position="floating">Your Email</ion-label> -->
                    <ion-input type="password" placeholder="Old Password" formControlName="old_password"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="container mt-10 mb-10">
            <ion-col no-padding style="text-align: center">
                <ion-item no-padding class="form-control">
                    <!-- <ion-label position="floating">Your Email</ion-label> -->
                    <ion-input type="password" minlength="6" placeholder="New Password" formControlName="new_password"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="container mt-10 mb-10">
            <ion-col no-padding style="text-align: center">
                <ion-item no-padding class="form-control">
                    <!-- <ion-label position="floating">Your Email</ion-label> -->
                    <ion-input type="password" minlength="6" placeholder="Confirm Password" formControlName="Confirm"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <!-- <ion-row no-padding class="container mt-20 mb-10">
            <ion-col no-padding>
                <ion-item no-padding class="form-control">
                    <ion-input [type]="passwordType" clearOnEdit="false" placeholder="Password" formControlName="password"></ion-input>
                    <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row> -->


        <!-- <ion-item class="form-control">
            <ion-label position="stacked">Old Password</ion-label>
            <ion-input class="value" type="password" formControlName="old_password"></ion-input>
        </ion-item>

        <ion-item class="form-control">
            <ion-label position="stacked">New Password</ion-label>
            <ion-input class="value" type="password" formControlName="new_password"></ion-input>
        </ion-item>
        <ion-item class="form-control">
            <ion-label position="stacked">Confirm Password</ion-label>
            <ion-input class="value" type="password" formControlName="Confirm"></ion-input>
        </ion-item> -->
        <ion-row class="container">
            <ion-col>
                <ion-button class="btn-submit" type="submit">
                    <!-- [disabled]="!cpForm?.valid" -->
                    Submit
                </ion-button>
            </ion-col>
        </ion-row>
        <!-- <ion-button expand="block" class="register-button btn btn-danger text-capitalize" type="submit" [disabled]="!cpForm?.valid">
            Submit
        </ion-button> -->

        <!-- <ion-label class="mt-10" style="color: red;">Note: passwords should be at least 6 characters long and contain at least one number, one letter and one special character.</ion-label> -->

    </form>
</ion-content>