<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="backPage()">
                            <ion-img class="back-btn" src="../../../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>
                    </ion-col>
                    <ion-col size="9" style="text-align: center;">
                        <ion-label class="logo-title">{{pageTitle}}</ion-label>
                    </ion-col>
                    <ion-col size="1">
                        <ion-buttons no-padding *ngIf="this.from != '2'">
                            <ion-img class="back-btn" src="../../../../../assets/images/update-status.png" (click)="changeStatus()"></ion-img>
                        </ion-buttons>
                    </ion-col>
                    <ion-col size="1">
                        <ion-buttons no-padding>
                            <ion-img class="back-btn" src="../../../../../assets/images/Delete-w.png" (click)="deleteOrder()"></ion-img>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding>
    <ion-tabs tabbarPlacement="top" color="primary" (ionTabsDidChange)="tabChange($event)">
        <ion-tab-bar slot="top">
            <ion-tab-button class="tab-nav-box" tab="customer-details">
                <ion-label>Customer </ion-label>
            </ion-tab-button>
            <ion-tab-button class="tab-nav-box" tab="measurement-details">
                <ion-label>Measurement</ion-label>
            </ion-tab-button>
            <ion-tab-button class="tab-nav-box" tab="item-details">
                <ion-label>Order Details</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>