<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid class="header">
                <ion-row style="align-items: center;">
                    <ion-col style="padding: 5px !important;" size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <!-- <ion-back-button text="" defaultHref=""></ion-back-button> -->
                            <ion-img class="back-btn" src="../../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>

                    </ion-col>
                    <ion-col size="10" style="text-align: center;">
                        <ion-label class="logo-title">Add Order</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding>
    <ion-grid class="mt-10">

        <ion-row>
            <ion-col style="padding: 10px !important; text-align: center" (click)="addNewCustomer()">
                <ion-item class="form-control">
                    <ion-label class="select-prod"> Add New Customer </ion-label>
                    <ion-img style="height: 15px;" src="../../../../assets/images/DropDownC.png"></ion-img>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of customerItems">
            <ion-col>
                <ion-grid class="noti-item">
                    <ion-row (click)="selectCustomer(item)">
                        <ion-col size="12">
                            <ion-label class="title">{{item.FName}} {{item.LName}}</ion-label>
                        </ion-col>
                        <!-- <ion-col size="3" style="text-align: right;">
                            <ion-label class="time">{{item.CDate}}</ion-label>
                        </ion-col> -->
                    </ion-row>
                    <ion-row class="mt-5">
                        <ion-col size="12">
                            <ion-label class="cotent">{{item.ContectNo}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-label class="cotent">{{item.statename}}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>


            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>