ion-grid,
ion-row,
ion-col {
    padding: 0px !important;
}

ion-content {
    --background: #f3f2f2 !important;
}

ion-label {
    color: #686868 !important;
}

.noti-item {
    background: white !important;
    border-radius: 10px !important;
    padding: 10px !important;
    margin: 8px !important;
}

.title {
    font-size: 16px !important;
    font-weight: bold;
}

.time {
    text-align: right;
    font-size: 13px !important;
    font-weight: normal;
}

.cotent {
    font-size: 13px !important;
    font-weight: normal;
    line-height: 15px !important;
    display: block;
}

.logo-title {
    color: white !important;
}

.form-control {
    --ion-background-color: white !important;
    border: 1px solid #fff !important;
    color: #656464 !important;
    font-size: 14px !important;
    border-radius: 10px;
    --inner-border-width: 0 0 0 0 !important;
}