<ion-content  no-padding>
    <div class="cotent-back">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="padding: 0 6px;">

            <ion-grid>
                <ion-row class="mt-45"> 
                    <ion-col>
                        <ion-img src="../../../assets/images/Logo.png"></ion-img>
                        <!-- <ion-label class="title-logo"></ion-label> -->
                    </ion-col>
                </ion-row>
              <ion-row class="mt-45">
                    <ion-col>
                        <ion-label class="login-label">Login</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row no-padding class="container mt-20">
                    <ion-col no-padding style="text-align: center">
                        <ion-item no-padding class="form-control">
                            <ion-input numbersOnly type="tel" inputmode="tel" minlength="10" maxlength="10" placeholder="Mobile Number" formControlName="email"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row no-padding class="container mt-10 mb-10">
                    <ion-col no-padding>
                        <ion-item no-padding class="form-control">
                            <!-- <ion-label position="floating">Your Password</ion-label> -->
                            <ion-input [type]="passwordType" clearOnEdit="false" placeholder="Password" formControlName="password"></ion-input>
                            <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="container ">
                    <ion-col class="text-right">
                        <ion-label class="text-right" (click)="goToForgot()">
                            Forgot Password?
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="container">
                    <ion-col>
                        <ion-button class="btn-submit" type="submit">
                            LogIn
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row class="container ">
                    <ion-col>
                        <ion-label>Don't have an account? </ion-label>
                        <ion-label style="color: red;" (click)="goToRegister()"> <span>Signup</span></ion-label>
                    </ion-col>
                </ion-row>
                <!-- <ion-row class="container mb-10">
                <ion-col>
                    <ion-label style="color: black;text-decoration:underline;" (click)="goActiveAccount()">Activate Account </ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="container mb-10">
                <ion-col>
                    <ion-label>Developed By : <a class="linkurl" href="https://www.eshci.com">ESH Solutions Ltd</a></ion-label>
                </ion-col>
            </ion-row> -->

                <!-- <ion-row class="container mb-10">
                <ion-col>
                    <ion-label>Version : 1.11</ion-label>
                </ion-col>
            </ion-row> -->
            </ion-grid>
        </form>
    </div>
</ion-content>