   .cotent-back {
       --background-image: url(../../../assets/images/login_bg-n.jpg) !important;
       background-image  : url(../../../assets/images/login_bg-n.jpg) !important;
   }

   // .ios .cotent-back  {
   //     background-image: url(../../../assets/images/login_bg.png) !important;
   //   }

   .box-wrapper {
       position : absolute;
       width    : 100%;
       top      : 50%;
       transform: translate(0%, -50%);
   }

   .mt-45 {
       margin-top: 45px;
   }

   .mt-30 {
       margin-top: 30px !important;
   }

   ion-img {
       // width: 220px;
       width:auto;
       height:150px !important;       
       // margin: 30px auto;
   }

   .login-label {
       padding         : 10px;
       font-style      : normal;
       font-weight     : bolder;
       margin          : 20px 0px 8px 0;
       display         : block;
       //font-family: 'ArialMT' !important;
       font-size       : 20px;
       //text-transform: uppercase;
   }

   span {
       text-decoration: underline;
   }

   .passwordIcon {
       font-size: 1rem !important;
       position : relative !important;
       // top: 22px !important;
       margin   : 0 auto !important;
   }

   ion-row {
       justify-content: center;
   }

   ion-col {
       text-align: center;
   }

   // ion-label {
   //     // color: white;
   //     color: #010B17;
   // }
   .linkurl {
       color: cornflowerblue;
   }

//    @media screen and (max-height: 1064) and (max-width:491) {
//        .mt-30 {
//            margin-top: 80px !important;
//        }
//    }

   @media screen and (max-height: 731px) and (max-width:411px) {
       ion-img {
           // width: 210px !important;
           height   : 180px !important;
           // margin: 20px auto !important;
       }
   }

   @media screen and (height: 640px) and (width:360px) {
       ion-img {
           // width: 170px !important;
           height   : 150px !important;
           // margin: 40px auto !important;
       }
   }

   @media screen and (max-height: 640px) and (max-width:384px) {
       ion-img {
           // width: 150px !important;
           height   : 120px !important;
           // margin: 10px auto !important;
       }
   }
   @media screen and (max-height: 667px) and (max-width:375px) {
       ion-img {
           // width: 150px !important;
           height   : 140px !important;
           // margin: 10px auto !important;
       }
   }

//    @media screen and (max-height: 812px) and (max-width:375px) {
//        .mt-30 {
//            margin-top: 80px !important;
//        }
//    }