:host {
    ion-content {
        --background: transparent;
        position: relative;
    }
    ion-row.list_blocks ion-col {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .logo-title {
        color: white !important;
    }
    .store-list-container {
        background-color: #fff;
        height: calc(100vh - 56px);
        overflow-y: auto;
    }
    .fix_btn {
        position: fixed;
        bottom: 0px;
        width: 100%;
        display: block;
        z-index: 111;
    }
    .ion-color-primary {
        width: 22px !important;
        height: 22px !important;
        --border-color: #d4d4d4 !important;
        display: block;
        margin-left: 10px;
    }
    .cls-model {
        position: absolute !important;
        left: 50%!important;
        transform: translate(-50%, 0) !important;
        top: 15vh !important;
        // bottom: 78vh !important;
        z-index: 1111!important;
        color: #4D6eE3!important;
        font-weight: bold!important;
        font-size: 20px!important;
        text-align: center!important;
        --border-radius: 50% !important;
        --background: white !important;
        height: 50px !important;
        width: 50px !important;
    }
    // .cat-box.add-cat ion-img {
    //     width: 34px;
    //     height: 34px;
    //     display: block;
    //     margin: 36px auto;
    // }
    // .list_block .cat-box.add-cat .cat-title {
    //     bottom: 42px;
    // }
}