<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header">
                <ion-row style="align-items: center;">
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="dismissModal()">
                            <!-- <ion-back-button text="" defaultHref=""></ion-back-button> -->
                            <ion-img class="back-btn" src="../../../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>

                    </ion-col>
                    <ion-col size="10" style="text-align: center;">
                        <ion-label class="logo-title">Select Category</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content scrollX="false" scrollY="false">
    <ion-grid class="store-list-container" no-padding>
        <ion-row class="list_block">
            <ion-col size="4" (click)="addCategory()">
                <div class="cat-box-n add-cat" style="background: #d77073;">
                    <ion-img src="../../../../../assets/images/Upload_Category.png"></ion-img>
                    <ion-label class="cat-title" style="padding: 10px; background: transparent;"> Add Category</ion-label>
                </div>
            </ion-col>
            <ion-col *ngFor="let item of catItems" size="4" (click)="selectCategory(item)">
                <div class="cat-box">
                    <img class="view-img" *ngIf="item.Image != undefined" src="{{item.Image}}" />
                    <img class="view-img" *ngIf="item.Image == undefined" src="../../../../../assets/images/error_img.png" />
                    <ion-label class="cat-title"> {{item.Name}}</ion-label>
                </div>
            </ion-col>
        </ion-row>
        <!-- <div class="fix_btn">
            <ion-button class="btn btn-blue" (click)="close()">{{btnName}}</ion-button>
        </div> -->
    </ion-grid>

</ion-content>