:host {
    .main-wrapper {
        height: 100vh;
        overflow: auto;
        position: relative;
    }
    .back_arrow {
        width: 40px;
        height: 40px;
    }
    ion-row {
        justify-content: center;
    }
    ion-col {
        text-align: center;
    }
    ion-icon {
        font-size: 40px;
        color: #010B17;
    }
    ion-label {
        color: #010B17;
    }
    ion-select {
        // text-align: end !important;
        width: 100% !important;
    }
    .calIcon {
        font-size: 2rem !important;
        position: absolute;
        margin: 0px auto !important;
        right: 5px;
        color: white
        /* top: 10px;*/
    }
    .icons-btn {
        width: 40px;
        height: 40px;
        background-color: #032b71;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
    }
    .icon {
        font-size: 27px;
        position: relative;
        top: 6px;
    }
    .logo-title {
        color: white !important;
    }
    .form-control {
        --placeholder-color: white;
    }
}