<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col *ngIf="!isSearch" size="1">
                        <ion-buttons no-padding (click)="tools.backPage()">
                            <ion-img class="back-btn" src="../../../assets/images/Back.png"></ion-img>
                        </ion-buttons>
                    </ion-col>
                    <ion-col *ngIf="!isSearch" size="10" style="text-align: center;">
                        <ion-label class="logo-title">Customers</ion-label>
                    </ion-col>
                    <ion-col *ngIf="isSearch" size="12" style="text-align: center;">
                        <ion-searchbar showCancelButton="focus" animated cancelButtonText="Custom Cancel" (ionCancel)="ionCancel()" (ionChange)="ionChange($event)" (ionCancel)="search()"></ion-searchbar>
                    </ion-col>
                    <ion-col *ngIf="!isSearch" size="1">
                        <ion-buttons no-padding>
                            <ion-img class="search-icon" src="../../../assets/images/Search.png" (click)="search()"></ion-img>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding>
    <ion-grid class="mt-10">
        <ion-row class="noti-item" *ngFor="let item of customerItems">
            <ion-col size="11" (click)="cudtomerDetails(item)">
                <ion-grid>
                    <ion-row>
                        <ion-col size="11">
                            <ion-label class="title">{{item.FName}} {{item.LName}}</ion-label>
                        </ion-col>

                    </ion-row>
                    <ion-row class="mt-5">
                        <ion-col size="12">
                            <ion-label class="cotent">{{item.ContectNo}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-label class="cotent">{{item.statename}}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <ion-col size="1" style="text-align: right;">
                <ion-img class="dlt-icon" src='../../../assets/images/Delete.png' (click)="deleteCustomer(item)"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isSearch && customerItems.length == 0" class="empty-cels">
            <ion-col>
                <ion-label class="empty-title"> Data Not Found.</ion-label>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>