ion-grid,
ion-row,
ion-col {
    padding: 0px !important;
}

ion-content {
    --background: white !important;
}

.form-control {
    // color: #d77073 !important;
    color: #686868 !important;
}

ion-label {
    color: #686868 !important;
}

.logo-title {
    color: white !important;
}